set tabsize 4
set tabstospaces
set autoindent
set trimblanks
set linenumbers
set softwrap
set stateflags
# set constantshow
set titlecolor red
set keycolor cyan
set functioncolor cyan
set numbercolor yellow
# set mouse
set emptyline
set smarthome
set zap  # allows deleting under cursor!
# set guidestripe 80
set indicator
